:host {  // :host = app-root in this case

  ::ng-deep router-outlet + * {
    background-color: lightblue;

    flex: 1;
  }
}

.banner {
  background-color: limegreen;
}

// .auto-stretch {
//   flex: 1;

//   display: flex;
//   flex-direction: column;

//   background-color: lightblue;
// }


.footer {
  background-color: lightcoral;
}
